<div>
    <form>
<div class="form-group row">
    <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
        Name</label>
    <input class="form-control col-xl-8 col-md-7" id="validationCustom0"
        type="text" formControlName="name" required="">
</div>
<div class="form-group row">
    <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
        email</label>
    <input class="form-control col-xl-8 col-md-7" id="validationCustom0"
        type="text" formControlName="email" readonly required="">
</div>
<div class="form-group row">
    <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
        RoleID</label>
    <input class="form-control col-xl-8 col-md-7" id="validationCustom0"
        type="text" formControlName="RoleID" required="">
</div>
</form>
</div>