CaseVerification-api/backend/config/config.json
CaseVerification-api/backend/uploads/1615138614054-bezkoder-IMG-20160507-WA0001.jpg
CaseVerification-api/backend/uploads/1615138649145-bezkoder-IMG-20160507-WA0001.jpg
CaseVerification-api/backend/uploads/1615138649151-bezkoder-IMG_20200105_074855.jpg
CaseVerification-api/backend/resources/static/assets/uploads/dhoni.jpg
CaseVerification-api/backend/config/config.json
CaseVerification-api/backend/config/config.json
CaseVerification-api/backend/config/config.json
CaseVerification-api/backend/config/config.json
CaseVerification-api/backend/resources/static/assets/uploads/Screenshot (4).png
.gitignore
CaseVerification-api/backend/resources/static/assets/uploads/Screenshot (3).png
CaseVerification-api/backend/resources/static/assets/uploads/749807.png
CaseVerification-api/backend/resources/static/assets/uploads/qwert.jpg
CaseVerification-api/backend/resources/static/assets/uploads/qwert2.jpg
CaseVerification-api/backend/resources/static/assets/uploads/witcher3_en_wallpaper_wallpaper_9_1920x1200_1433245987.png
caseVerification-UI/src/app/components/products/digital/digital-category/digital-category.component.html
CaseVerification-api/backend/resources/static/assets/uploads/favicon-32x32.png
.gitignore
CaseVerification-api/backend/resources/12327 VideoSat May 01 2021.webm
CaseVerification-api/backend/resources/static/assets/uploads/istockphoto-613336624-170667a.jpg
CaseVerification-api/backend/resources/static/assets/uploads/qwert22.jpg
CaseVerification-api/backend/resources/static/assets/uploads/veemak.png
CaseVerification-api/backend/resources/static/assets/uploads/veemak2.png
CaseVerification-api/backend/resources/31233 VideoSat May 01 2021.webm
CaseVerification-api/backend/resources/21412sdad.wav
CaseVerification-api/backend/resources/214124-Audio.wav
CaseVerification-api/backend/resources/312312sdad.wav
CaseVerification-api/backend/resources/2141240026-Audio.wav
CaseVerification-api/backend/resources/blob-Video.webm
CaseVerification-api/backend/resources/blob.webm
CaseVerification-api/backend/resources/blob29318-Video.webm
CaseVerification-api/backend/resources/CaseCreation-.jpeg
CaseVerification-api/backend/resources/1111-59114-Audio.wav
CaseVerification-api/backend/resources/124532-24221-Audio.wav
CaseVerification-api/backend/resources/blob43701-Video.webm
CaseVerification-api/backend/resources/blob70380-Video.webm
CaseVerification-api/backend/resources/less than 4mb.jpg.jpeg
CaseVerification-api/backend/resources/13245-49972-Audio.wav
CaseVerification-api/backend/resources/13245-68098-Audio.wav
CaseVerification-api/backend/resources/13245-72480-Audio.wav
CaseVerification-api/backend/resources/blob235-Video.webm
CaseVerification-api/backend/resources/13245-15917-Audio.wav
CaseVerification-api/backend/resources/13245-28438-Audio.wav
CaseVerification-api/backend/resources/13245-63782-Audio.wav
CaseVerification-api/backend/resources/13245-92634-Audio.wav
CaseVerification-api/backend/resources/13245-InsAudio-49309-Audio.wav
CaseVerification-api/backend/resources/13245-InsAudio-50703-Audio.wav
CaseVerification-api/backend/resources/13245-InsAudio-72633-Audio.wav
CaseVerification-api/backend/resources/13245-Tparty-54155-Audio.wav
CaseVerification-api/backend/resources/13245-Tparty-63224-Audio.wav
CaseVerification-api/backend/resources/13245-Tparty-69259-Audio.wav
CaseVerification-api/backend/resources/124532-InsAudio-78945-Audio.wav
CaseVerification-api/backend/resources/124532-Tparty-31603-Audio.wav
CaseVerification-api/backend/resources/127480-54269-Audio.wav
CaseVerification-api/backend/resources/127480-63750-Audio.wav
CaseVerification-api/backend/resources/blob27979-Video.webm
CaseVerification-api/backend/resources/blob54106-Video.webm
CaseVerification-api/backend/resources/blob75206-Video.webm
CaseVerification-api/backend/resources/blob91153-Video.webm
CaseVerification-api/backend/resources/InsV10664-Video.webm
CaseVerification-api/backend/resources/InsV16149-Video.webm
CaseVerification-api/backend/resources/InsV20194-Video.webm
CaseVerification-api/backend/resources/InsV45320-Video.webm
CaseVerification-api/backend/resources/InsV65261-Video.webm
CaseVerification-api/backend/resources/InsV81882-Video.webm
CaseVerification-api/backend/resources/TpartyV7824-Video.webm
CaseVerification-api/backend/resources/TpartyV19284-Video.webm
CaseVerification-api/backend/resources/TpartyV37648-Video.webm
CaseVerification-api/backend/resources/TpartyV44511-Video.webm
CaseVerification-api/backend/resources/TpartyV75617-Video.webm
CaseVerification-api/backend/resources/TpartyV96515-Video.webm
