
<div class="container-fluid">
  <div class="row product-adding">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Case Details</h5>
        </div>
        <div class="card-body">
          <div class="digital-add needs-validation">
            <div class="form-group">
              <label for="validationCustom01" class="col-form-label pt-0"><span>*</span> Case ID</label>
              <input class="form-control" id="validationCustom01" type="text" required="" placeholder="Case ID">
            </div>
            <div class="form-group">
              <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> Description</label>
              <textarea class="form-control" id="validationCustomtitle" rows="4" cols="50" required="" placeholder="Full Description"></textarea>
            </div>
            <div class="form-group">
              <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> Insurer Verification Notes</label>
              <textarea class="form-control" id="validationCustomtitle" rows="4" cols="50" required="" ></textarea>
            </div>
            <div id="controls">
              <button type="button" class="btn btn-primary btn-sm" id="recordAudioButton" style="padding: 5px 5px; font-size: 10px; border-radius: 4px;" >R.Audio</button>
              <button type="button" class="btn btn-warning btn-sm" id="pauseAudioButton" style="padding: 5px 5px; font-size: 10px; border-radius: 4px; margin-left: 5px;" disabled>Pause</button>
              <button type="button" class="btn btn-success btn-sm" id="stopAudioButton" style="padding: 5px 5px; font-size: 10px; border-radius: 4px; margin-left: 5px;" disabled>Stop</button>

              <span style="margin-left: 50px;"></span>

              <button type="button" class="btn btn-primary btn-sm" id="recordVideoButton" style="padding: 5px 5px; font-size: 10px; border-radius: 4px;">R.Video</button>
              <button type="button" class="btn btn-warning btn-sm" id="pauseVideoButton" style="padding: 5px 5px; font-size: 10px; border-radius: 4px; margin-left: 5px;" disabled>Pause</button>
              <button type="button" class="btn btn-success btn-sm" id="stopVideoButton" style="padding: 5px 5px; font-size: 10px; border-radius: 4px; margin-left: 5px;" disabled>Stop</button>
              <span style="margin-left: 40px;"></span>
              <button type="button" class="btn btn-info btn-sm" id="frontphoto" style="padding: 5px 5px; font-size: 10px; border-radius: 4px;">Selfie</button>
            </div>
<br><br>

            <div class="form-group">
              <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> Thirdparty Verification Notes</label>
              <textarea class="form-control" id="validationCustomtitle" rows="4" cols="50" required=""></textarea>
            </div>
            <div id="controls">

              <button type="button" class="btn btn-primary btn-sm " id="recordAudioButton" style="padding: 5px 5px; font-size: 10px; border-radius: 4px;" >R.Audio</button>
              <button type="button" class="btn btn-warning btn-sm" id="pauseAudioButton" style="padding: 5px 5px; font-size: 10px; border-radius: 4px; margin-left: 5px;" disabled>Pause</button>
              <button type="button" class="btn btn-success btn-sm" id="stopAudioButton" style="padding: 5px 5px; font-size: 10px; border-radius: 4px; margin-left: 5px;" disabled>Stop</button>
           <span style="margin-left: 50px;"></span>

            <button type="button" class="btn btn-primary btn-sm" id="recordVideoButton" style="padding: 5px 5px; font-size: 10px; border-radius: 4px;" >R.Video</button>
            <button type="button" class="btn btn-warning btn-sm" id="pauseVideoButton"  style="padding: 5px 5px; font-size: 10px; border-radius: 4px; margin-left: 5px;" disabled>Pause</button>
            <button type="button" class="btn btn-success btn-sm" id="stopVideoButton"  style="padding: 5px 5px; font-size: 10px; border-radius: 4px; margin-left: 5px;" disabled>Stop</button>
            <span style="margin-left: 40px;"></span>
            <button type="button" class="btn btn-info btn-sm" id="frontphoto" style="padding: 5px 5px; font-size: 10px; border-radius: 4px;">Selfie</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="digital-add needs-validation">
          <div class="card-body">
            <!-- <div class="form-group mx-sm-3 mb-2">
            <label class="col-form-label"><span>*</span> Currently</label>
            <select class="custom-select" required="">
              <option value="1">Active</option>
              <option value="2">Deleted</option>
            </select>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> RoleID</label>
            <input class="form-control" id="validationCustomtitle" type="text" required="">
          <div>
            <label for="validationCustomtitle" class="col-form-label pt-0 "><span>*</span> Created By</label>
            <input type="text" class="form-control" id="validationCustomtitle" required="">
          </div>
          <div> -->
            <label for="validationCustomtitle" class="col-form-label pt-0" size="10"><span>*</span> Created By</label>
            <input type="text" class="form-control" id="validationCustomtitle" required="">
            <br>
            <label for="validationCustomtitle" class="col-form-label pt-0 " size="10"><span>*</span> Created Date</label>
            <input type="datetime-local" class="form-control" id="validationCustomtitle" required="">
            <br>
            <div>
              <label for="validationCustomtitle" class="col-form-label pt-0 "><span>*</span> Last Modified By</label>
              <input type="text" class="form-control" id="validationCustomtitle" required="">
            </div>
            <br>
            <div>
              <label for="validationCustomtitle" class="col-form-label pt-0 "><span>*</span> Last Modified Date</label>
              <input type="datetime-local" class="form-control" id="validationCustomtitle" required="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group mb-0">
    <div class="product-buttons text-center">
      <button type="submit" class="btn btn-success mr-1">Submit</button>
    </div>
  </div>

</div>
