<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
<div class=container-fluid>
  <div class="card shadow-lg p-3 mb-5 bg-white rounded ">
    <form #userPost="ngForm">
      <!-- <h3 class="maintitle">Case Creation</h3> -->
      <h4 class="subhead1">Case Details</h4>
      <div class="content">
        <div class="row">
          <!-- Case ID -->
          <div class="col-lg-6 col-md-6">
            <div class="form-group" class="caseid">
              <div class="form-group form-inline">
                <label for="exampleInputCompany">Case ID:</label>
                <input ngModel type="text" class="form-control" name="CaseID" id="exampleInputCompany" placeholder=""
                  required />
              </div>
            </div>
          </div>
          <!-- Ref Number -->
          <div class="col-lg-6 col-md-6">
            <div class="form-group" class="refnumber">
              <div class="form-group form-inline">
                <label for="exampleInputLoction">Ref Number:</label>
                <input type="text" ngModel name="ReferenceNumber" class="form-control" id="exampleInputLoction" placeholder="" required />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Due Date -->
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <div class="form-group form-inline">
                <label for="exampleInputCompany">Due Date:</label>
                <input type="date" ngModel name="DueDate" class="form-control form-group1" id="exampleInputCompany"
                  placeholder="" required />
              </div>
            </div>
          </div>
          <!-- Agent -->
          <div class="col-lg-6 col-md-6">
            <div class="form-group" class="agentname">
              <div class="form-group form-inline">
                <label for="exampleInputLoction">Agent Name:</label>
                <input ngModel type="text" class="form-control" name="Name" id="exampleInputLoction" placeholder=""
                  required />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Gen Notes -->
      <div class="content1">
        <div class="form-group" class="gennotes">

          <div class="form-group form-inline">
            <label for="exampleFormControlTextarea1">Notes:</label>
            <textarea class="form-control" ngModel name="Description" id="exampleFormControlTextarea1" rows="3"
              cols="88"></textarea>
          </div>
        </div>
      </div>

      <!------------------------------------------------------------- Insurer Details------------------------------------------------------- -->

      <hr>
      <h3 class="subhead2">Insurer Details</h3>
      <div class="content2">
        <div class="row">
          <!-- Name -->
          <div class="col-lg-6 col-md-6">
            <div class="form-group" class="name1">
              <div class="form-group form-inline">
                <label for="exampleInputCompany">Name:</label>
                <input ngModel type="text" class="form-control" name="InsurerName" id="exampleInputCompany"
                  placeholder="" required style="padding-right: 10px;" />
              </div>
            </div>
          </div>
          <!-- Phone -->
          <div class="col-lg-6 col-md-6">
            <div class="form-group" class="phoneno">
              <div class="form-group form-inline">
                <label for="exampleInputLoction">Phone No:</label>
                <input ngModel type="text" class="form-control" name="PhoneNumber" id="exampleInputLoction"
                  placeholder="" required />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content2">
        <!-- Email -->
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group" class="emailid">
              <div class="form-group form-inline">
                <label for="exampleInputCompany">Email ID:</label>
                <input ngModel type="email" class="form-control" name="EmailID" id="exampleInputCompany" placeholder=""
                  required style="padding-right: 10px;" />
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="content2">
        <div class="row">

          <div class="row ad">
            <div class="col">
              <input ngModel type="text" name="AddressLine1" class="form-control ad1 " placeholder="Address Line 1">
            </div>
            <div class="col">
              <input ngModel type="text" name="AddressLine2" class="form-control ad2" placeholder="Address Line 2">
            </div>
          </div><br><br>

          <div class="form-row">

            <div class="form-group col-md-3">
              <input ngModel type="text" name="City" class="form-control" id="inputCity" size="20" placeholder="City">
            </div>
            <div class="form-group col-md-3">
              <input ngModel type="text" name="State" class="form-control" id="inputZip" size="15" placeholder="State">
            </div>
            <div class="form-group col-md-1.5">
              <input ngModel type="text" name="Pincode" class="form-control" id="inputZip" size="5"
                placeholder="Pincode">
            </div>
            <div class="form-group col-md-4.5">
              <input ngModel type="text" name="Landmark" class="form-control" id="inputZip" size="15"
                placeholder="Landmark" style="margin-left: 23px;">
            </div>

          </div>


        </div>
      </div>


      <div class="form-group form-inline" class="Questionaaire1">
        <div class="content4">
          <label for="exampleFormControlTextarea1">Questions</label>
        </div>
        <div class="content3">
          <textarea ngModel class="form-control" name="InsurerVerificationNotes" id="exampleFormControlTextarea1"
            rows="7" cols="55"></textarea>
        </div>
      </div>


      <!------------------------------------------------------------- Third party Details------------------------------------------------------- -->
      <hr>
      <h3 class="subhead3">Third party Details</h3>
      <div class="content2">
        <div class="row">
          <!-- Name -->
          <div class="col-lg-6 col-md-6">
            <div class="form-group" class="name1">
              <div class="form-group form-inline">
                <label for="exampleInputCompany">Name:</label>
                <input ngModel type="text" class="form-control" name="ThirdpartyName" id="exampleInputCompany"
                  placeholder="" required style="padding-right: 10px;" />
              </div>
            </div>
          </div>
          <!-- Phone -->
          <div class="col-lg-6 col-md-6">
            <div class="form-group" class="phoneno">
              <div class="form-group form-inline">
                <label for="exampleInputLoction">Phone No:</label>
                <input ngModel type="text" class="form-control" name="T_PhoneNumber" id="exampleInputLoction"
                  placeholder="" required />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content2">
        <!-- Email -->
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group" class="emailid">
              <div class="form-group form-inline">
                <label for="exampleInputCompany">Email ID:</label>
                <input ngModel type="email" class="form-control" name="T_EmailID" id="exampleInputCompany"
                  placeholder="" required style="padding-right: 10px;" />
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="content2">
        <div class="row">

          <div class="row ad">
            <div class="col">
              <input type="text" ngModel name="T_AddressLine1" class="form-control ad1 " placeholder="Address Line 1" readonly>
            </div>
            <div class="col">
              <input type="text" ngModel name="T_AddressLine2" class="form-control ad2" placeholder="Address Line 2">
            </div>
          </div><br><br>

          <div class="form-row">

            <div class="form-group col-md-3">
              <input ngModel type="text" name="T_City" class="form-control" id="inputCity" size="20" placeholder="City">
            </div>
            <div class="form-group col-md-3">
              <input ngModel type="text" name="T_State" class="form-control" id="inputZip" size="15" placeholder="State">
            </div>
            <div class="form-group col-md-1.5">
              <input ngModel type="text" name="T_Pincode" class="form-control" id="inputZip" size="5"
                placeholder="Pincode">
            </div>
            <div class="form-group col-md-4.5">
              <input ngModel type="text" name="T_Landmark" class="form-control" id="inputZip" size="15"
                placeholder="Landmark" style="margin-left: 23px;">
            </div>

          </div>

        </div>
      </div>


      <div class="form-group form-inline" class="Questionaaire1">
        <div class="content4">
          <label for="exampleFormControlTextarea1">Questions</label>

        </div>

        <div class="content3">
          <textarea class="form-control" name="T_VerificationNotes" ngModel id="exampleFormControlTextarea1"
            rows="7" cols="55"></textarea>
        </div>
      </div>

      <button type="button" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<script>
  $('.dropdown-toggle').dropdown()
</script>
