<!-- <div>
  <form>
    <div class="container-fluid">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-md-6 row">
              <label class="col-sm-3 col-form-label">Case ID:</label>
              <div class="col-sm-5 inputbox">
                <input type="email" class="form-control">
              </div>
            </div>

            <div class="col-md-1">

            </div>

            <div class="col-md-5 row ">
              <label class="col-sm-6 col-form-label">Reference Number:</label>
              <div class="col-sm-6 inputbox">
                <input type="email" class="form-control">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6 row inputbox">
              <label class="col-sm-3 col-form-label labelAlign">Due Date:</label>
              <div class="col-sm-5 inputbox">
                <input type="date" class="form-control">
              </div>
            </div>

            <div class="col-md-1">

            </div>

            <div class="col-md-5 row inputbox">
              <label class="col-sm-6 col-form-label">Agent Name:</label>
              <div class="col-sm-6 ">
                <input type="email" class="form-control">
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-12 row" style="padding-top: 7px;">
          <label class="col-auto col-form-label" style="text-align:right;">Question:</label>
          <div class="col-sm-10">
            <textarea name="questions" class="form-control" cols="50" rows="3"></textarea>
          </div>
        </div>
      </div>




      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-md-6 row">
              <label class="col-sm-3 col-form-label">Name:</label>
              <div class="col-sm-7 inputbox">
                <input type="email" class="form-control">
              </div>
            </div>

            <div class="col-md-1">
            </div>

            <div class="col-md-5 row ">
              <label class="col-sm-6 col-form-label">Phone Number:</label>
              <div class="col-sm-6 inputbox">
                <input type="email" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 row inputbox">
              <label class="col-sm-3 col-form-label labelAlign">Email ID:</label>
              <div class="col-sm-7 inputbox">
                <input type="email" class="form-control">
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col">

            </div>
            <div class="col-lg-5">
              <div class="col-lg-3">

              </div>
              <div class="col-lg-9">
                <input type="text" class="form-control">
              </div>
            </div>

            <div class="col">

            </div>
            <div class="col-lg-5">
              <div class="col-lg-3">

              </div>
              <div class="col-lg-9">
                <input type="text" class="form-control">
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </form>
</div> -->


<!-- <app-breadcrumb [title]="'Contact'" [breadcrumb]="'Contact'"></app-breadcrumb> -->
<!--section start-->
<section class=" contact-page section-b-space">
  <div class="container">
    <div class="card">

      <div class="row">


        <form>
          <h3 class="subhead2">Case Details</h3>
          <div class="col-md-12 row">

            <div class="col-md-6 form-group row">
              <div class="col-sm-2"></div>
              <label for="name" class="col-form-label col-sm-3 text-align">Case ID:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
              </div>
            </div>

            <div class="col-md-6 form-group row">
              <div class="col-sm-2"></div>
              <label for="name" class="col-form-label col-sm-4 text-align">Ref Number:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
              </div>
            </div>
          </div>



          <div class="col-md-12 row">

            <div class="col-md-6 form-group row">
              <div class="col-sm-2"></div>
              <label for="name" class="col-form-label col-sm-3 text-align">Due date:</label>
              <div class="col-sm-6">
                <input type="date" class="form-control" id="name" required="">
              </div>
            </div>

            <div class="col-md-6 form-group row">
              <div class="col-sm-2"></div>
              <label for="name" class="col-form-label col-sm-4 text-align">Agent Name:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="name" placeholder="Agent name" required="">
              </div>
            </div>
          </div>

          <div class="row mt-0">
            <div class="col-sm-2" style="margin-left: 31px;"></div>
            <label for="notes" class="col-form-label col-sm-9">Notes:</label>
          </div>

          <div class=" row" style="margin-left: 4%;">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <textarea class="form-control col-sm-8" rows="3" placeholder="Write Your Message"></textarea>
            <div class="col-sm-2"></div>
          </div>

          <hr>
          <h3 class="subhead2">Insurer Details</h3>
          <div class="col-md-12 row">
            <div class="col-md-6 form-group row">
              <div class="col-sm-1"></div>
              <label for="InsurerName" class="col-form-label col-sm-4 text-align">Insurer Name:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="" id="">
              </div>
            </div>

            <div class="col-md-6 form-group row">
              <div class="col-sm-2"></div>
              <label for="PhoneNumber" class="col-form-label col-sm-4 text-align">Phone Number:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="" id="">
              </div>

            </div>
          </div>


          <div class="col-md-12 row">
            <div class="col-md-6 form-group row">
              <div class="col-sm-1"></div>
              <label for="InsurerName" class="col-form-label col-sm-4 text-align">Email:</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" name="" id="">
              </div>
            </div>
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-1 ml-1"></div>
            <!-- <div style="width: 110px;"> -->
            <div class="col-sm-1 ml-4"></div>
            <!-- </div> -->
            <div class="col-sm-4 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="AddressLine 1">
            </div>
            <div class="col-sm-5 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="AddressLine 2">
            </div>
            <!-- <div class="col-sm-2"></div> -->
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-1"></div>
            <div style="width: 110px;"></div>

            <div class="col-sm-2 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="City">
            </div>
            <div class="col-sm-2 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="State">
            </div>
            <div class="col-sm-2 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="Pincode">
            </div>
            <div class="col-sm-3 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="Landmark">
            </div>
            <!-- <div class="col-sm-2"></div> -->

          </div>

          <!-- <div class="row">
                          <div class="col-xl-1 ml-4"></div>
                        <div class="col-xl-1 text-align ml-2">
                          <div class="col-xl-2" style="margin-left: 31px;"></div>
                          <label for="notes" class="col-form-label ">Notes:</label>
                        </div>
                           <div class="col-sm-2 ml-5"></div>
                           <div style="width: 135px;"></div>
                          <div class="col-sm-8">
                            <textarea class="form-control" rows="6" placeholder="Write Your Message 1"></textarea>
                          </div>

                           <div class="col-sm-1"></div>
                      </div> -->

          <div class="row mt-0">
            <div class="col-sm-2" style="margin-left: 31px;"></div>
            <label for="notes" class="col-form-label col-sm-9">Notes:</label>
          </div>

          <div class=" row">
            <div class="col-sm-1"></div>
            <div style="width: 135px;"></div>
            <textarea class="form-control col-sm-8" rows="6" placeholder="Thirdparty Questions"></textarea>
            <div class="col-sm-1"></div>
          </div>


          <hr>
          <h3 class="subhead2">Thirdparty Details</h3>
          <div class="col-md-12 row">
            <div class="col-md-6 form-group row">
              <!-- <div class="col-sm-1"></div> -->
              <label for="InsurerName" class="col-form-label col-sm-5 text-align">Thirdparty Name:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="" id="">
              </div>
            </div>

            <div class="col-md-6 form-group row">
              <div class="col-sm-2"></div>
              <label for="PhoneNumber" class="col-form-label col-sm-4 text-align">Phone Number:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="" id="">
              </div>

            </div>
          </div>


          <div class="col-md-12 row">
            <div class="col-md-6 form-group row">
              <div class="col-sm-1"></div>
              <label for="InsurerName" class="col-form-label col-sm-4 text-align">Email:</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" name="" id="">
              </div>
            </div>
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-1 ml-1"></div>
            <div class="col-sm-1 ml-4"></div>
            <!-- <div style="width: 110px;">
                          </div> -->
            <div class="col-sm-4 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="AddressLine 1">
            </div>
            <div class="col-sm-5 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="AddressLine 2">
            </div>
            <!-- <div class="col-sm-2"></div> -->
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-1"></div>
            <div style="width: 110px;"></div>

            <div class="col-sm-2 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="City">
            </div>
            <div class="col-sm-2 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="State">
            </div>
            <div class="col-sm-2 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="Pincode">
            </div>
            <div class="col-sm-3 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="Landmark">
            </div>
            <!-- <div class="col-sm-2"></div> -->

          </div>

          <div class="row mt-0">
            <div class="col-sm-2" style="margin-left: 31px;"></div>
            <label for="notes" class="col-form-label col-sm-9">Notes:</label>
          </div>

          <div class=" row">
            <div class="col-sm-1"></div>
            <div style="width: 135px;"></div>
            <textarea class="form-control col-sm-8" rows="6" placeholder="Thirdparty Questions"></textarea>
            <div class="col-sm-1"></div>
          </div>
          <br>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-primary ml-5">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>




<!-- <div class="form-row">
                        <div class="col-md-6 form-group">
                            <label for="review">Phone number</label>
                            <input type="text" class="form-control" id="review" placeholder="Enter your number" required="">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="review">Write Your Message</label>
                            <textarea class="form-control" placeholder="Write Your Message" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-6 form-group">
                          <label for="address">Address1</label>
                          <input type="text" class="form-control" id="address1" placeholder="AddressLine 1">
                        </div>
                        <div class="col-md-6 form-group">
                          <label for="address">Address2</label>
                          <input type="text" class="form-control" id="address2" placeholder="AddressLine 2">
                        </div>


                        <div class="col-sm-2 form-group">
                           <label for="address" class="col-sm-5 col-form-label">Address q</label>
                          <input type="text" class=" form-control" id="address2" placeholder="City">
                        </div> -->

<!-- <div class="col-sm-2 form-group">
                          <label for="address" class="col-sm-5 col-form-label">Address w</label>
                          <input type="text" class=" form-control" id="address2" placeholder="State">
                        </div>

                        <div class="col-sm-2 form-group">
                          <label for="address" class="col-sm-5 col-form-label">Address e</label>
                          <input type="text" class=" form-control" id="address2" placeholder="Pincode" style="width: 70%;">
                        </div>
                        <div class="col-sm-1"></div>

                        <div class="col-sm-4 form-group">
                           <label for="address" class="col-sm-5 col-form-label">Address e</label>
                          <input type="text" class="form-control" id="address2" placeholder="Landmark">
                        </div>
                        <div class="col-sm-2"></div>
                      </div>

                        <div class="col-md-12 form-group">
                            <button class="btn btn-solid" type="submit">Send Your Message</button>
                        </div> -->

<!--Section ends-->

<!-- <div class="row">
  <form action="" method="" class="form-horizontal">

    <div class="form-group col-sm-12">
      <label for="email" class="col-sm-5 control-label">Email Address</label>
      <div class="col-sm-7">
        <input type="email" class="form-control" id="email" />
      </div>
    </div>
    </form>
</div> -->
