<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

<section class=" contact-page section-b-space">
  <div class="container">
    <div class="card">

      <div class="row">


        <form>
          <h3 class="subhead2">Case Details</h3>
          <div class="col-md-12 row">

            <div class="col-md-6 form-group row">
              <div class="col-sm-2"></div>
              <label for="name" class="col-form-label col-sm-3 text-align">Case ID:</label>
              <div class="col-sm-6">
                <input type="text" ngModel class="form-control" id="name" placeholder="Enter Your name" required="">
              </div>
            </div>

            <div class="col-md-6 form-group row">
              <div class="col-sm-2"></div>
              <label for="name" class="col-form-label col-sm-4 text-align">Ref Number:</label>
              <div class="col-sm-6">
                <input type="text" ngModel class="form-control" id="name" placeholder="Enter Your name" required="">
              </div>
            </div>
          </div>



          <div class="col-md-12 row">

            <div class="col-md-6 form-group row">
              <div class="col-sm-2"></div>
              <label for="name" class="col-form-label col-sm-3 text-align">Due date:</label>
              <div class="col-sm-6">
                <input type="date" ngModel class="form-control" id="name" required="">
              </div>
            </div>

            <div class="col-md-6 form-group row">
              <div class="col-sm-2"></div>
              <label for="name" class="col-form-label col-sm-4 text-align">Agent Name:</label>
              <div class="col-sm-6">
                <input type="text" ngModel class="form-control" id="name" placeholder="Agent name" required="">
              </div>
            </div>
          </div>

          <div class="row mt-0">
            <div class="col-sm-2" style="margin-left: 31px;"></div>
            <label for="notes" class="col-form-label col-sm-9">Notes:</label>
          </div>

          <div class=" row" >
            <div class="col-sm-1 ml-4"></div>
            <div class="col-sm-1 ml-3"></div>
            <textarea ngModel class="form-control col-sm-8 ml-2" rows="3" placeholder="Write Your Message"></textarea>
            <div class="col-sm-2"></div>
          </div>

          <hr>
          <h3 class="subhead2">Insurer Details</h3>
          <div class="col-md-12 row">
            <div class="col-md-6 form-group row">
              <div class="col-sm-1"></div>
              <label for="InsurerName" class="col-form-label col-sm-4 text-align">Insurer Name:</label>
              <div class="col-sm-6">
                <input type="text" ngModel class="form-control" name="" id="">
              </div>
            </div>

            <div class="col-md-6 form-group row">
              <div class="col-sm-2"></div>
              <label for="PhoneNumber" class="col-form-label col-sm-4 text-align">Phone Number:</label>
              <div class="col-sm-6">
                <input type="text" ngModel class="form-control" name="" id="">
              </div>

            </div>
          </div>


          <div class="col-md-12 row">
            <div class="col-md-6 form-group row">
              <div class="col-sm-1"></div>
              <label for="InsurerName" class="col-form-label col-sm-4 text-align">Email:</label>
              <div class="col-sm-6">
                <input type="email" ngModel class="form-control" name="" id="">
              </div>
            </div>
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-1 ml-1"></div>
            <!-- <div style="width: 110px;"> -->
            <div class="col-sm-1 ml-4"></div>
            <!-- </div> -->
            <div class="col-sm-4 form-group">
              <input type="text" class="form-control" name="" id="" placeholder="AddressLine 1">
            </div>
            <div class="col-sm-5 form-group">
              <input type="text" ngModel class="form-control" name="" id="" placeholder="AddressLine 2">
            </div>
            <!-- <div class="col-sm-2"></div> -->
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-2 ml-4"></div>
            <!-- <div style="width: 110px;"></div> -->

            <div class="col-sm-2 ml-1 form-group">
              <input type="text" ngModel class="form-control" name="" id="" placeholder="City">
            </div>
            <div class="col-sm-2 form-group">
              <input type="text" ngModel class="form-control" name="" id="" placeholder="State">
            </div>
            <div class="col-sm-2 form-group">
              <input type="text" ngModel class="form-control" name="" id="" placeholder="Pincode">
            </div>
            <div class="col-sm-3 form-group">
              <input type="text" ngModel class="form-control" name="" id="" placeholder="Landmark">
            </div>
            <!-- <div class="col-sm-2"></div> -->

          </div>

          <!-- <div class="row">
                          <div class="col-xl-1 ml-4"></div>
                        <div class="col-xl-1 text-align ml-2">
                          <div class="col-xl-2" style="margin-left: 31px;"></div>
                          <label for="notes" class="col-form-label ">Notes:</label>
                        </div>
                           <div class="col-sm-2 ml-5"></div>
                           <div style="width: 135px;"></div>
                          <div class="col-sm-8">
                            <textarea class="form-control" rows="6" placeholder="Write Your Message 1"></textarea>
                          </div>

                           <div class="col-sm-1"></div>
                      </div> -->

          <div class="row mt-0">
            <div class="col-sm-2" style="margin-left: 31px;"></div>
            <label for="notes" class="col-form-label col-sm-9">Notes:</label>
          </div>

          <div class=" row">
            <div class="col-sm-1"></div>
            <div style="width: 135px;"></div>
            <textarea ngModel class="form-control col-sm-8" rows="6" placeholder="Thirdparty Questions"></textarea>
            <div class="col-sm-1"></div>
          </div>


          <hr>
          <h3 class="subhead2">Thirdparty Details</h3>
          <div class="col-md-12 row">
            <div class="col-md-6 form-group row">
              <!-- <div class="col-sm-1"></div> -->
              <label for="InsurerName" class="col-form-label col-sm-5 text-align">Thirdparty Name:</label>
              <div class="col-sm-6">
                <input ngModel type="text" class="form-control" name="" id="">
              </div>
            </div>

            <div class="col-md-6 form-group row">
              <div class="col-sm-2"></div>
              <label for="PhoneNumber" class="col-form-label col-sm-4 text-align">Phone Number:</label>
              <div class="col-sm-6">
                <input ngModel type="text" class="form-control" name="" id="">
              </div>

            </div>
          </div>


          <div class="col-md-12 row">
            <div class="col-md-6 form-group row">
              <div class="col-sm-1"></div>
              <label for="InsurerName" class="col-form-label col-sm-4 text-align">Email:</label>
              <div class="col-sm-6">
                <input ngModel type="email" class="form-control" name="" id="">
              </div>
            </div>
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-1 ml-1"></div>
            <div class="col-sm-1 ml-4"></div>
            <!-- <div style="width: 110px;">
                          </div> -->
            <div class="col-sm-4 form-group">
              <input ngModel type="text" class="form-control" name="" id="" placeholder="AddressLine 1">
            </div>
            <div class="col-sm-5 form-group">
              <input ngModel type="text" class="form-control" name="" id="" placeholder="AddressLine 2">
            </div>
            <!-- <div class="col-sm-2"></div> -->
          </div>

          <div class="col-md-12 row">
            <div class="col-sm-2 ml-4"></div>
            <!-- <div style="width: 110px;"></div> -->

            <div class="col-sm-2 ml-1 form-group">
              <input ngModel type="text" class="form-control" name="" id="" placeholder="City">
            </div>
            <div class="col-sm-2 form-group">
              <input ngModel type="text" class="form-control" name="" id="" placeholder="State">
            </div>
            <div class="col-sm-2 form-group">
              <input ngModel type="text" class="form-control" name="" id="" placeholder="Pincode">
            </div>
            <div class="col-sm-3 form-group">
              <input ngModel type="text" class="form-control" name="" id="" placeholder="Landmark">
            </div>
            <!-- <div class="col-sm-2"></div> -->

          </div>

          <div class="row mt-0">
            <div class="col-sm-2" style="margin-left: 31px;"></div>
            <label for="notes" class="col-form-label col-sm-9">Notes:</label>
          </div>

          <div class=" row">
            <div class="col-sm-2 ml-5"></div>
            <!-- <div style="width: 135px;"></div> -->
            <textarea ngModel class="form-control col-sm-8" rows="6" placeholder="Thirdparty Questions"></textarea>
            <div class="col-sm-1"></div>
          </div>
          <br>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-primary ml-5">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
