<div class="card text-center m-3">
  <h3 class="card-header">Case List</h3>
  <div class="row">
    <div class="col-sm-2">
      <input type="checkbox" onclick="toggle(this);" /> Select all<i class="fa fa-check" aria-hidden="true"></i>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <div class="btn-group">
        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Assign to Agent
        </button>
        <div class="dropdown-menu"  >
            <option *ngFor="let item of name" class="dropdown-item" type="button">{{item.name}}</option>
        </div>

      </div>
    </div>



    <div class="col-sm-2">

      <div class="btn-group">
        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Filter By Assign
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" type="button">Assigned</button>
          <button class="dropdown-item" type="button">Un Assigned</button>
        </div>
      </div>

    </div>




    <div class="col-sm-2">
      <div class="btn-group">
        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Filter By Status
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" type="button">Verified</button>
          <button class="dropdown-item" type="button">Approved</button>
          <button class="dropdown-item" type="button">In Progress</button>
          <button class="dropdown-item" type="button">Pending</button>
          <button class="dropdown-item" type="button">Rejected</button>
          <button class="dropdown-item" type="button">Archived</button>
        </div>
      </div>

    </div>

    <div class="col-sm-2">
      <button class="btn btn-outline-info btn-sm" onclick="listView()"><i
          class="fa fa-list-ul list-layout-view"></i></button>
      <button class="btn btn-outline-primary btn-sm" onclick="gridView()"><i
          class="fa fa-th grid-layout-view"></i></button>
      <button class="btn btn-outline-primary btn-sm" data-toggle="tooltip" data-placement="top" title="2 Grid View"
        onclick="list2View()"> <i class="fas fa-grip-lines"></i></button>
    </div>
  </div>
  <!--
  <div class="card">
  <table class="column">
    <caption>Statement Summary</caption>
    <thead>
      <tr>
        <th scope="col">Account</th>
        <th scope="col">Due Date</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pagesize">
        <td data-label="Account">{{item.CaseID}}</td>
        <td data-label="Due Date">{{item.Name}}</td>

      </tr>
    </tbody>
  </table>
</div> -->


  <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"> -->

  <div class="card-body ">

    <div class="collection-grid-view" *ngIf="layoutView == 'grid-view'">


      <div class="card pad" id="myTable">

        <li style="list-style-type: none;">
          <div class="card-body column column-m bordercol button two  mb-3 mt-2" *ngFor="let item of pagesize">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1"></label>
            </div>
            <h5 class="card-title">CaseID: {{item.CaseID}}</h5>
            <h6 class="card-text">{{item.username}}</h6>
            <h6 class="card-text">Name: {{item.Name}}</h6>
            <a href="https://www.google.co.in/" class="btn btn-sm btn-outline-primary ml-2"><i
                class="fas fa-pencil-alt"></i></a>
            <button class="btn btn-sm btn-outline-success ml-2" data-toggle="modal" onclick="openForm()"><i
                class="fas fa-eye"></i></button>
            <!-- <button class="open-button" onclick="openForm()">Open Form</button> -->


            <div class="form-popup" id="myForm">
              <form class="form-container">
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h6>hiii</h6>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
              </form>
            </div>

          </div>
        </li>
      </div>
    </div>
  </div>




  <div class="card-footer pb-0 pt-3">
    <ul *ngIf="pageno.pages && pageno.pages.length" class="pagination">
      <li [ngClass]="{disabled:pageno.currentPage === 1}" class="page-item first-item">
        <a routerLink [queryParams]="{ page: 1 }" class="page-link">First</a>
      </li>
      <li [ngClass]="{disabled:pageno.currentPage === 1}" class="page-item previous-item">
        <a routerLink [queryParams]="{ page: pageno.currentPage - 1 }" class="page-link">Previous</a>
      </li>
      <li *ngFor="let page of pageno.pages" [ngClass]="{active:pageno.currentPage === page}"
        class="page-item number-item">
        <a routerLink [queryParams]="{ page: page }" class="page-link">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pageno.currentPage === pageno.totalPages}" class="page-item next-item">
        <a routerLink [queryParams]="{ page: pageno.currentPage + 1 }" class="page-link">Next</a>
      </li>
      <li [ngClass]="{disabled:pageno.currentPage === pageno.totalPages}" class="page-item last-item">
        <a routerLink [queryParams]="{ page: pageno.totalPages }" class="page-link">Last</a>
      </li>
    </ul>
  </div>
</div>


<!-- Test -->

<!-- <button class="open-button" onclick="openForm()">Open Form</button>

<div class="form-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div> -->
