<style>
  table, td, th {
    border :1px solid black;
  }

  table{
    border-collapse: collapse;
    width: 90%;
  }

  th{
    height: 50px;
  }
</style>

<h2>Get Mothod</h2>

<table>
  <tr>
    <th>ID</th>
    <th>AddressLine1</th>
    <th>AddressLine2</th>
    <th>City</th>
    <th>Landmark</th>
    <th>State</th>
    <th>Pincode</th>
    <th>GEOLocation</th>
    <th>CreatedBy</th>
    <th>CreatedDate</th>
    <th>LastModifiedBy</th>
    <th>LastModifiedDate</th>
  </tr>

  <tr *ngFor="let com of lstcomments">
    <td>{{com.ID}}</td>
    <td>{{com.AddressLine1}}</td>
    <td>{{com.AddressLine2}}</td>
    <td>{{com.City}}</td>
    <td>{{com.Landmark}}</td>
    <td>{{com.State}}</td>
    <td>{{com.Pincode}}</td>
    <td>{{com.GEOLocation}}</td>
    <td>{{com.CreatedBy}}</td>
    <td>{{com.CreatedDate}}</td>
    <td>{{com.LastModifiedBy}}</td>
    <td>{{com.LastModifiedDate}}</td>
  </tr>
</table>
