<div class="div-champs">
  <p id="champs">Type
    <span id="required">*</span>
  </p>
  <div class="select-style ">
    <select [(ngModel)]="selectedOption" name="type" >
           <option style="display:none">
           <option [value]="o.name" *ngFor="let o of options">
              {{o.name}}
           </option>
       </select>
  </div>
</div>
<div *ngIf="selectedOption == 'two'">
  <p id="champs">Appears
    <input type="appears" class="form-control" name="appears">
  </p>
  <p id="champs">Appears
    <input type="appears" class="form-control" name="name">
  </p>
  <p id="champs">Appears
    <input type="appears" class="form-control" name="name2">

  </p>
</div>
<div>
  <p id="champs" *ngIf="selectedOption == 'first'">Appears
    <input type="button" class="form-control" name="appears">
  </p>
</div>
