<div class="">
  <h1>Resgistration Form</h1>
</div>

<section>
  <form id="form">
    <div class="row form">

      <h4>1</h4>
      <div class="col-md-12" *ngFor="let control of dynamicformarray">
        <div [ngSwitch]="control.controltype" >
          <div *ngSwitchCase = "'text'">
            <div class="col-md-4">
              <label class="{{control.labelcss}}">{{control.questionname}}</label>
            </div>
            <div class="col-md-6">
            <input type="{{control.controltype}}" class="{{control.controlcss}}" aria-describedby="passwordHelpBlock" readonly value="{{control.questiondisplaytext}}">
              <small id="passwordHelpBlock" class="form-text text-muted">
                {{control.helptext}}
              </small>
            </div>
          </div>


        </div>
      </div>
<br>

      <!-- ------------------------------------------2 ------------------------------------->

      <h4>2</h4>
      <div class="col-md-12" *ngFor="let control of dynamicformarray2">
        <div [ngSwitch]="control.controltype" >
          <div *ngSwitchCase = "'text'">
            <div class="col-md-4">
              <label class="{{control.labelcss}}">{{control.questionname}}</label>
            </div>
            <div class="col-md-6">
            <input type="{{control.controltype}}" class="{{control.controlcss}}" aria-describedby="passwordHelpBlock" readonly value="{{control.questiondisplaytext}}">
              <small id="passwordHelpBlock" class="form-text text-muted">
                {{control.helptext}}
              </small>
            </div>
          </div>


        </div>
      </div>

    </div>
  </form>
</section>


<button type="submit" class="btn btn-outline-primary" >
  <i class="fas fa-user-check mr-2" (click)="showSuccess()"></i>Submit</button>
