<h3 class="title">Case Creation</h3>
<br>
<hr>
<div class="container">
  <div class="card">
    <div class="row">
      <div class="form-group" class="col-md-6">
        <label for="validationCustom01" class="col-form-label pt-0"><span>*</span> Case ID</label>
        <input class="form-control" id="validationCustom01" type="text" required="" placeholder="Case ID"
          style="width:200px;">
      </div>
      <div class="col-md-4">
        <label for="validationCustom01"><span>*</span>Agent Name</label>
        <input class="form-control" id="validationCustom01" type="text" required="" placeholder="Agent Name">
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="form-group" class="col-md-6">
        <label for="validationCustom01" class="col-form-label pt-0"><span></span>Name</label>
        <input type="text" class="form-control" id="validationCustom01" required="" placeholder="Name">
      </div>
      <div class="col-md-4">
        <label for="validationCustom01"><span>*</span>Due Date</label>
        <input class="form-control" id="validationCustom01" type="text" required="" placeholder="Due Date">
      </div>
    </div>
    <br>
  </div>
</div>

<!-- address -->
<div class="container">
  <div class="card">
    <br>
    <div class="col-md-4">
    <label for="notes" style="margin-left: 20px;">Address:</label>
    <div class="card-body">
      <textarea name="Notes" id="notes" cols="130" rows="5"></textarea>
    </div>
  </div>
  </div>
</div>

<!-- insurer/ 3rd party question -->

<div class="container">
  <div class="card">
    <br>
    <div class="row">
      <div class="col-md-6">
        <label for="notes" style="margin-left: 20px;">Insurer Questionnaire:</label>
        <div class="card-body">
          <textarea name="Notes" id="notes" cols="60" rows="7"></textarea>
        </div>
      </div>

      <div class="col-md-6">
        <label for="notes" style="margin-left: 20px;">3rd party Questionnaire:</label>
        <div class="card-body">
          <textarea name="Notes" id="notes" cols="60" rows="7"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end of Insurer and 3rd party question -->

<div>
  <div>
    <button type="button" class="btn btn-warning btn-lg" style=" position: absolute; left: 25%;">Edit</button>
  </div>
  <div>
    <button type="button" class="btn btn-success btn-lg" style=" position: absolute; left: 65%;">Create</button>
  </div>
</div>
<br><hr>
