.card{
  padding: 1.5rem;
}

.inputbox{
  padding-top: 5px;
}

.subhead2{

  color: #98acf8;
}

// .row{
//   text-align: right;
// }

.text-align{
  text-align: right;
}

.padAndMargin{
  padding: 0rem;
  margin: 0rem;
}

.cardsizeAdjust{
  text-decoration: none;
  font-size: 20px;
}


@media only screen and (max-width: 600px) {
  .text-align{
    text-align: left;
  }

  .p-adjust-mob{
    padding-right: 0 !important;
  }

  .case-textarea{
    margin-left: 1.9rem !important;
    margin-right: 3.6rem !important;
  }

  .btn-mob-adjust{
    margin-right: 3rem;
  }

  .tarea-label{
    margin-left: 1rem;
  }
}


.inputborder{
  border: none;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}

.inputborder:focus{
  border: none;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}


