.card{
  padding: 1.5rem;
}

.inputbox{
  padding-top: 5px;
}

.subhead2{

  color: #98acf8;
}

// .row{
//   text-align: right;
// }

.text-align{
  text-align: right;
}


@media only screen and (max-width: 600px) {
  .text-align{
    text-align: left;
  }
}

