.title{
  text-align: center;
}

.responsiveaddress{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.caseid{
  margin-left: 10px;

}

.maintitle{
  color: cornflowerblue;
  font-family: Impact, fantasy;
}

.subhead1{
  text-align: left;
  //font-family: 'Gill Sans', sans-serif;
  color: #98acf8;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
}

.subhead2{
  text-align: left;
  color: #98acf8;
  background-color: rgb(255, 255, 255);
}

.subhead3{
  color: #98acf8;
  text-align: left;
  background-color: rgb(255, 255, 255);
}

.caseid{
align-items: flex-start;
}

.duedate{
align-items: flex-start;
width: 220px;
}

.gennotes{
  align-items: flex-start;
  padding-left: 26px;
}

.agentname{
  align-items: flex-start;
}

.refnumber{
  align-items: flex-start;
}

.name1{
  align-items: flex-start;
  margin-left: 19px;
}

.emailid{
  align-items: flex-start;
}

.phoneno{
  align-items: flex-start;
  margin-left: 20px;
}

.form-row{
  margin-left: 73px;
}

.Questionaaire1{
  align-items: flex-start;
  margin-left: 60px;
  width: 800px;
}

.form-group1{
  width: 220px;
}

.ad{
  margin-left: 63px;
}

.ad1{
  width: 370px;
}

.ad2{
  width: 160.8%;
}

.content{
  margin-left: 9%;
}

// .content1{
//   margin-left: 9%;
// }

.content2{
  margin-left: 9%;
}

.content3{
  margin-left: 12.5%;
  width: 95%;

}

.content4{
  margin-left: 12.5%;

}

.submit{
  align-items: center;
}
