.card{
  padding: 1.5rem;
}

.inputbox{
  padding-top: 5px;
}

.btn-sm {
  min-width: 1.8em;
  padding: .25em !important;
  margin-left: .1em;
  margin-right: .1em;
  color: #495057 !important;
  font-size: 1rem;
}

.subhead2{

  color: #98acf8;
}

// .row{
//   text-align: right;
// }

.text-align{
  text-align: right;
}




@media only screen and (max-width: 600px) {
  .text-align{
    text-align: left;
  }

  .p-adjust-mob{
    padding-right: 0 !important;
    //background-color: blue;
  }

  .mar-left{
    margin-left: 15px;
  }

  .file-margin{
    padding-left: 0;
  }

  .case-textarea{
    margin-left: 1.9rem !important;
    margin-right: 3.6rem !important;
  }

  .btn-mob-adjust{
    margin-right: 3rem;
  }

  .tarea-label{
    margin-left: 1rem;
  }
}



