<div class="container-fluid">
  <div class="row product-adding">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Documents</h5>
        </div>
        <div class="card-body">
          <div class="digital-add needs-validation">
            <div class="form-group">
              <label for="validationCustom01" class="col-form-label pt-0"><span>*</span> Doc ID</label>
              <input class="form-control" id="validationCustom01" type="text" required="" placeholder="Case ID">
            </div>
            <div class="form-group">
              <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> File Path</label>
              <input class="form-control" id="validationCustom01" type="file" required="" placeholder="File Path">
            </div>
            <div class="form-group">
              <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> File Name</label>
              <input class="form-control" id="validationCustom01" type="text" required="" placeholder="Name of File">
            </div>
            <div class="form-group">
              <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> Geo Location</label>
              <input class="form-control" id="validationCustom01" type="text" required="" placeholder="Location">
            </div>
            <div class="form-group">
              <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> FileType ID</label>
              <input class="form-control" id="validationCustom01" type="text" required="" placeholder="Filetype ID">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="digital-add needs-validation">
          <div class="card-body">
            <!-- <div class="form-group mx-sm-3 mb-2">
            <label class="col-form-label"><span>*</span> Currently</label>
            <select class="custom-select" required="">
              <option value="1">Active</option>
              <option value="2">Deleted</option>
            </select>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> RoleID</label>
            <input class="form-control" id="validationCustomtitle" type="text" required="">
          <div>
            <label for="validationCustomtitle" class="col-form-label pt-0 "><span>*</span> Created By</label>
            <input type="text" class="form-control" id="validationCustomtitle" required="">
          </div>
          <div> -->
            <br>
            <br>
            <br>
            <br>
            <label for="validationCustomtitle" class="col-form-label pt-0" size="10"><span>*</span> Created By</label>
            <input type="text" class="form-control" id="validationCustomtitle" required="">
            <br>
            <label for="validationCustomtitle" class="col-form-label pt-0 " size="10"><span>*</span> Created Date</label>
            <input type="datetime-local" class="form-control" id="validationCustomtitle" required="">
            <br>
            <div>
              <label for="validationCustomtitle" class="col-form-label pt-0 "><span>*</span> Last Modified By</label>
              <input type="text" class="form-control" id="validationCustomtitle" required="">
            </div>
            <br>
            <div>
              <label for="validationCustomtitle" class="col-form-label pt-0 "><span>*</span> Last Modified Date</label>
              <input type="datetime-local" class="form-control" id="validationCustomtitle" required="">
            </div>
            <br>
            <div class="form-group mb-0">
              <div class="product-buttons text-center">
                <button type="submit" class="btn btn-success mr-1">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
