mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 64px;
  a {
    text-decoration: none;
    &.active-link {
      color: rgb(247, 205, 205);
    }
    span {
      margin-left: 10%;
    }
  }
}
